Flask==0.9
Flask-Assets==0.8
Flask-Script==0.5.2
Flask-WTF==0.8.2
Jinja2==2.6
SQLAlchemy==0.8.0b2
WTForms==1.0.2
Werkzeug==0.8.3
gunicorn==0.17.1
httplib2==0.7.7
oauth2==1.5.211
psycopg2==2.4.6
pymongo==2.4.1
python-dateutil==2.1
python-twitter==0.8.2
simplejson==3.0.5
six==1.2.0
webassets==0.8
wsgiref==0.1.2
