Flask==0.9
Flask-WTF==0.8
Jinja2==2.6
WTForms==1.0.2
Werkzeug==0.8.3
distribute==0.6.28
gunicorn==0.15.0
httplib2==0.7.6
oauth2==1.5.211
pymongo==2.3
python-dateutil==2.1
python-twitter==0.8.2
simplejson==2.6.2
six==1.2.0
wsgiref==0.1.2