body {
    background: #fff;
    padding-top: 60px;
}

@media (max-width: 979px) {
    body {
        padding-top: 20px;
    }
    .navbar-fixed-top .navbar-inner {
        /* padding: 0px; */
    }

    .navbar-fixed-top {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 767px)
bootstrap-responsive.min.css:9
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top
#add_answer {
    cursor: pointer;
}

.navbar-inner {
}

.questions {
    /* padding-top: 10px; */
}

.container {
    /* margin-top: 50px; */
    max-width: 600px;
}

.question-section {
    /* max-width: 352px; */
    /* margin: 0px auto; */
}

.answers {
    display: none;
}

.answer i {
    opacity: 0;
}

.answer:hover i {
    opacity: .5;
}

.answer.vote i {
    opacity: 1.0;
}

/* .answer:hover { */
/*     display: inline; */
/*     opacity: .5; */
/* } */

.question-text {
    font-size: 120%;
    font-weight: bold;
    margin: 0 5px;
    /* margin: 3px; */
}

