body {
    background: #fff;
    padding-top: 60px;
}

.navbar-inner {
}


.questions {
/* padding-top: 10px; */
}

.container {
    /* margin-top: 50px; */
    max-width: 600px;
}

.question-section {
/* max-width: 352px; */
/* margin: 0px auto; */
}

.question:hover {
    background: #e0e0e0;
    cursor: pointer;
}

.question {
    border-bottom: 1px solid #ddd;
    border-top: none;
    background: #eee;
    background: #fff;
}

.question.active:hover {
    background: none;
}

.answers {
    display: none;
}

.questions > li.question:last-child {
    border-bottom: none;
}

.answer {
    padding-right: 0 !important;
}


.answer i {
    opacity: 0;
}

.answer:hover i {
    opacity: .5;
}

.answer.working i {
    background: url("/static/img/working.gif");
    background-size: 14px 14px;
    opacity: 1.0;
}

.answer.vote i {
    opacity: 1.0;
}

.question-text {
    font-size: 100%;
    font-weight: bold;
}

/* .vote-count-prefix { */
/*     display: none; */
/* } */

/* .voted .vote-count-prefix { */
/*     display: block; */
/* } */

.vote-info {
    bottom: 0;
    font-size: 80%;
    color: silver;
}

/* .voted .vote-info { */
/*     display: none; */
/* } */

.vote-count, .vote-count-prefix {
    margin-left: 5px;
}

.question .vote-count-prefix {
    color: silver;
}

.question .vote-count, .question.active .vote-count-prefix {
    color: gray;
}

.question.active .vote-count {
    color: black;
}

.question.active .answer .vote-count-prefix {
    color: silver;
}


@media (max-width: 980px) {
    .navbar-fixed-top .navbar-inner {
        padding: 0px;
    }

    .navbar-fixed-top {
        margin-left: 0px;
        margin-right: 0px;
        position: fixed;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0px;
    }
    .container {
        max-width: none;
        width: auto;
        /* margin: 0; */
    }
    .navbar-fixed-top {
        position: static;
        margin-bottom: 0;
    }
}
