body {
    background: #fff;
    padding-top: 60px;
}

.navbar-inner {
}

.questions {
/* padding-top: 10px; */
}

.container {
    /* margin-top: 50px; */
    max-width: 600px;
}

.question-section {
/* max-width: 352px; */
/* margin: 0px auto; */
}

.answers {
    display: none;
}

.answer i {
    opacity: 0;
}

.answer:hover i {
    opacity: .5;
}

.answer.vote i {
    opacity: 1.0;
}

/* .answer:hover { */
/*     display: inline; */
/*     opacity: .5; */
/* } */

.question-text {
    font-size: 120%;
    font-weight: bold;
    margin: 0 5px;
/* margin: 3px; */
}


@media (max-width: 980px) {
    .navbar-fixed-top .navbar-inner {
        padding: 0px;
    }

    .navbar-fixed-top {
        margin-left: 0px;
        margin-right: 0px;
        position: fixed;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0px;
    }
    .container {
        max-width: none;
        width: auto;
        /* margin: 0; */
    }
    .navbar-fixed-top {
        position: static;
        margin-bottom: 0;
    }
}
