{% extends "base.html" %}
{% block title %}add question{% endblock %}
{% block content %}
<form id="question-form" method="POST">
  <legend>Add Question</legend>
  {% for field in form  %}
  {% if field.type == "FieldList" %}
  {% for subfield in field  %}
  <div class="control-group answers-input{{ field.errors and " error" or ""}}">
    {% if subfield.errors %}
    <ul class="help-inline">{% for error in subfield.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% endif %}    
    {{ subfield(placeholder="{0} {1}".format(subfield.label.text, loop.index), class_="span12 answer") }}
  </div>
  {% endfor %}
  {% else %}
  <div class="control-group{{ field.errors and " error" or ""}}">
    {% if field.errors %}
    <ul class="help-inline">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% endif %}    
    {{ field(placeholder=field.label.text, class_="span12") }}
  </div>
  {% endif %}
  {% endfor %}
  <div class="control-group"><button type="submit" class="btn pull-right">Submit</button></div>
  
</form>
{% endblock %}

{% block js %}
  <script src="/static/js/lib/.js"></script>
{% endblock %}

