{% extends "base.html" %}
{% block title %}add question{% endblock %}
{% block content %}
<form id="qform" method="PUT">
  <legend>Add Question</legend>
  {% for field in form  %}
  {% if field.name == "category" %}
  <div class="control-group">
  <input id="{{field.name}}" name="{{field.name}}" class="span12" type="text" placeholder="{{field.label.text}}"
         data-provide="typeahead"
         data-source='["{{ categories|join("\", \"") }}"]'>
  </div>
  {% elif field.type == "FieldList" %}
  {% for subfield in field  %}
  <div class="control-group">
  {{ subfield(placeholder="{0} {1}".format(subfield.label.text, loop.index), class_="span12") }}
  </div>
  {% endfor %}
  {% else %}
  <div class="control-group">
  {{ field(placeholder=field.label.text, class_="span12") }}
  </div>
  {% endif %}
  {% endfor %}
  <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/js/add.js"></script>
{% endblock %}
