<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Mulchn</title>
      {% block css %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
        {% assets "css_slicklist" %}
          <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "css_main" %}
          <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
      {% endblock css %}
    {% endblock head %}
  </head>
  <body>
    <div id="container" class="container">
      {% block container %}
        {% block navbar %}
          <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <a class="brand" href="/">Mulchn</a>
                <ul class="nav pull-right">
                  {% if not account %}
                    <li>
                      <a class="" href="{{ url_for('login_twitter') }}">login with twitter</a>
                    </li>
                  {% else %}
                    <li class="account-image">
                      <img src="{{ account.image_url }}"></img> 
                    </li>
                  {% endif %}
                </ul>
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>  
                  <span class="icon-bar"></span>  
                  <span class="icon-bar"></span>  
                  <span class="icon-bar"></span>  
                </button>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li {% if request.path.startswith(url_for('new')) %}class="active"{% endif %}><a href="{{url_for('new')}}">newest</a></li>
                    <li {% if request.path.startswith(url_for('question_add')) %}class="active"{% endif %}><a href="{{ url_for('question_add') }}">add</a></li>
                    <li class="nav-small-screen {% if request.path.startswith(url_for('tag')) %}active{% endif %}"><a href="{{url_for('tag')}}">tags</a></li>
                  </ul>
                  <ul class="nav pull-right">
                    {% if account %}
                      <li><a class="" href="{{ url_for('logout') }}">logout</a></li>
                      {# {% else %} #}
                      {#   <li class="login"><a class="" href="{{ url_for('login_twitter') }}">login with twitter</a></li> #}
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endblock navbar %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block main %}
          <div class="row-fluid">
            <div class="span12">
              <div id="content">
                {% block content %}
                {% endblock %}
              </div>
            </div>
          </div>
        {% endblock main %}
      {% endblock container %}
    </div>
    {% block js %}
      {% assets "js_frameworks" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
      {% assets "js_app" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37565017-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endblock js %}
    {% if account %}
      <script id="account_id" type="application/json">{ "id": {{ account.id }}{% if account.admin %}, "admin": true{% endif %} }</script>
    {% endif %}
  </body>
</html>
