{% extends "base.html" %}
{% block title %}feed{% endblock %}
{% block content %}
  {{ super() }}
  <script type="text/html" id="question-template">
    <div class="header">
      <% if (question.get("vote")) { %>
      <div class="vote-info pull-right">
        <div class="fill">
          <div class="label" style="width: 100%">
            <span class="vote-count-prefix">results:</span>
            <span class="vote-count"><%= question.votes() %></span>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="vote-null pull-right">
        <div class="fill">
          <div class="label" style="width: 100%">
            <span class="vote-count-null">no choice selected</span>
          </div>
        </div>
      </div>
      <% } %>
      <div class='title'><h4><%= question.get("text") %></h4><a href="/question/<%= question.id %>/"><i class="icon icon-share"></i></a></div>
    </div>
    <div class="rest" <% if (active) { %>style="display: block;"<% } %>>
      <ul class="answers slicklist" >
        <% for (_i=0, _answers=question.get("answers"), _len=_answers.length; _i < _len; _i++) { answer = _answers[_i];  %>
           <li class="answer <% if (answer.id == question.get("vote")) { %>vote<% } %>" id="<%= answer.id %>">
             <div class="icon pull-left color_<%= _i %>">
               <i class="icon-remove icon icon-white"></i>
             </div>
             <% if (question.get("vote")) { %>
             <div class="pull-right">
               <div class="fill">
                 <div class="label color_<%= _i %>"
                      data-placement="right"
                      data-original-title="<%= Math.round(answer.votes / question.votes() * 100) %>%"
                      style="width: <%= (answer.votes / question.votes() * 100) %>%">
                      <span class="vote-count"><%= answer.votes || 0 %></span>
                 </div>
               </div>
             </div>
             <% } %>
             <p><%= answer.text %></p>
           </li>
           <% } %>
      </ul>
      <% if (question.get("vote")) { %>
      <div class="followees">
        <div class="header"><h5>You and the People You Follow</h5></div>
        <div class="progress">
          <% for (_i=0, _answers=question.get("answers"), _len=_answers.length; _i < _len; _i++) { answer = _answers[_i];  %>
             <div class="bar color_<%= _i %>"
                  data-placement="bottom"
                  data-original-title="<%= Math.round(answer.followee_votes / question.followee_votes() * 100) %>%"
                  style="width: <%= (answer.followee_votes / question.followee_votes() * 100) %>%">
                  <%= answer.followee_votes %>
             </div>
             <% } %>
        </div>
      </div>
      <div class="map"><p>map data unavailable</p></div>
      <% } %>
      <div class="footer"><% if (account && (question.get("owner") == account.id || account.admin)) { %><i title="delete question" class="icon-trash delete"></i><% } %></div>
    </div>
  </script>

{% endblock content %}

{% block js %}
  {{ super() }}
  {% assets "js_d3" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock js %}
